$baseTextColor: #777777;
$secondaryTextColor: #FFFFFF ;
$themeColor: #0ed8d6;

$brandFontFamily: 'Droid Serif', serif;
$headerFontFamily: 'Montserrat', sans-serif;
$primaryFontFamily: 'Roboto Slab', serif;

